{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{{url_for('home')}}" class="active">Home</a></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Edit Player</h2>
										</header>
										<p>
											{{ ckeditor.load() }}
											{{ ckeditor.config(name='strength') }}
											{{ ckeditor.config(name='weakness') }}
											{{ ckeditor.config(name='improvements') }}
 											{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
										</p>
										<p>
 										The data provided will be used for player pass, ordering dress, maintaining your profile. The data is stored in Heroku European Servers and Github.
										</p>
									</div>
								</div>
							</section>
					</div>

{% include "footer.html" %}